
.pw-container {
    width: 90%; 
    margin: 40px auto;
    background-color: #3498db;
    padding-top: 10px;
    overflow: auto;
    border-radius: 5px;
    max-width: 500px;
}

.pw-body {
    padding: 0 15px 20px;
}
.pw {
    height: 70px;
    width: 90%;
    margin: 0px auto;
    position: relative;
    font-size: 16px;
    border-radius: 5px;
}

.pw-header button {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #164b6e;
    border-radius: 5px;
    opacity: 0;
    transform: translate(0%,-120%);
    transition: .7s ease-in;
}
.pw-header button:hover {
    text-decoration: underline;
}
.pw-container:hover .pw-header button {
    opacity: 1;
    transform: translate(0%,0%);
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.generating {
    background-color: #35739d;
    color: black;
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding: 16px;
    border: none;
    margin: 30px auto;
    border-radius: 5px;
    width: 50%;
}
    @media(min-width:1200px) {
        .plus {
      margin-top: 32px;
}
    }


.input-number {
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.password-generating {
    text-align: center;
}


.checkbox {
    border-radius: 50%;
}

.gen-textarea {
    background-color: #308ecc;
    align-items: center;
    width: 90%;
    display: block;
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px auto 15px;
    border-radius: 5px;
    border:none;
    max-width: 300px;
    height: 80px;
    padding: 5px;
}